/* .navbarr {
    margin-left: 90px;
    margin-right: 40px
}
.bgcolor {
    background: #F8F6F4;
}
.bgcolor2 {
    /* margin-bottom: 100px; */
    /* background: #F8F6F4; */
/* }
.bgcolor3 {
    background: #F8F6F4;
}  */
.title {
    color: mediumpurple;
}